@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	/*background-image: url('../assets/images/lightpaperfibers_@2x.png');*/
	background-color: #eee;
	font: normal 1em Lato;
	margin: 0;
	padding: 0;
}
div, nav, footer, header {
	background-color: #ddd;
	/*border: 1px solid #ddd;*/
}

ul
{
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

li {
	text-decoration: none;
}