@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background-color: #fff;
	background-image: url('../assets/images/topography.png');
	font: normal 1em Lato;
	margin: 0;
	padding: 0;
}

ul
{
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

li {
	text-decoration: none;
}