/* TODO: GLOBAL?*/
a {
	color: #c9302c;
	text-decoration: none;
}

a>li>.menu-icon:hover {
	background-color: #f66;
	border-right: 3px solid #fbb;
	color: #fff;
	opacity: 0.8;
	box-shadow: 1px 1px 3px #f66;
}

main.layout {
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	padding: none;
}

header.main-header {
	border-bottom: 3px solid #666;
	background-image: url('../../assets/images/dark_embroidery.png');
	background-color: #222;
	color: #fff;
	flex: 2;
	font-size: 1.2rem;
	margin-bottom: 2px;
	opacity: 0.8;
	padding: 0.5rem;
	text-align: left;
	min-width: 500px;
}


section.main-section {
	display: flex;
	width: 100%;
}

nav.menu {
	flex: 1;
	/*max-width: 5.64rem;*/
	max-width: 8.31rem;
	min-width: 2.77rem;
	text-align: center;
	width: 20%;
}

ul.menu-list {
	align-content: center;
	display: flex;
	flex-flow: row wrap;
	list-style:none;
	margin: none;
	padding: none;
}

li.menu-list-item 
{
	border-radius: 4px;
	display: flex;
	/*margin: 2px;*/
	margin: 0.1rem;
	max-width: 50px;
	max-height: 50px;
}

.menu-icon
{
	align-items: center;
	background-color: #fff;
	/*background-color: #3c9;*/
	/*background-color: #f60;*/
	/*background-color: #f03;*/
	/*background-color: #dd4b39;*/
	border: 1px solid #ccc;
	/*border: 1px solid #4aa;*/
	/*border: 1px solid #dd4b39;*/
	border-right: 3px solid #aaa;
	/*border-bottom: 3px solid #aaa;*/
	border-radius: 4px;
	color: #6d9;
	flex: 1;
	font-size: 1.5rem;
	justify-content: space-around;
	max-height: 50px;
	max-width: 50px;
	padding: 3px;
}

.menu-icon:hover
{
	border-color: #ddd;
	box-shadow: 1px 1px 3px #3c9;
}

._iconcolor {
	color: #fff;
	/*color: #ff8106;*/
	/*color: #f60;*/
}

._redbg {
	background-color: #dd4b39;
}

._bluebg {
	background-color: #57a0d3;
}

._greenbg {
	background-color: #92ddc8;
}

/*TODO*/
.menu-text {
	align-items: center;
	background-color: #fff;
	border-radius: 4px;
	color: #ccc;
	/* MOVE TO ANIMATION */
	display: none; 
	flex: 2;
	justify-content: space-around;
	line-height: 3em;
	padding-left: 1em;
	text-align: left;
	visibility: hidden;
}

article.content {
	/*background-image: url('../../assets/images/topography.png');*/
	/*background-color: rgba(221,221,221,0.5);*/
	/*border-left: 1px solid #ccc;*/
	border-right: 1px solid #ccc;
	border-radius: 4px;
	margin-right: 1px;
	padding-top: 0;
	padding-left: 2px;
	padding-right: 2px;
	flex: 1;
	width: auto;
}

footer.main-footer {
	/*border: 1px solid #ddd;*/
	border-radius: 4px;
	color: #aaa;
	margin-right: 8px;
	padding: 4px;
	text-align: right;
	width: 100%;
}