.home-header {
	background-color: #ddd;
	padding: 1rem;
	text-align: center;
}

.home {
	align-content: center;
	background-color: #fff;
	border: 1px solid #999;
	border-radius: 4px;
	margin: 0.1rem;
	min-height: 300px;
	min-width: 300px;
	opacity: 0.7;
}

.home-body {
	padding: 1rem;
}