.home-header {
	/*background-color: #ddd;*/
	padding: 1rem;
	text-align: center;
}

.home {
	align-content: center;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 0.1rem;
	min-height: 300px;
	opacity: 0.9;
	padding: 3rem;
	padding-top: 0;
}

.home-body {
	padding: 1rem;
	text-align: center;
}

.bubble {
	align-content: center;
	background-color: #eee;
	border-radius: 10px;
	max-width: 360px;
	padding: 1rem;
	position: relative;
	margin: auto;
}

.bubble-point-bottom:before {
	border-top: 20px solid #eee;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content:"";
	height: 0;
	position: absolute;
	right: 25%;
	top: 100%;
	width: 0;
}

.bubble-point-top:before {
	border-bottom: 20px solid #eee;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content:"";
	height: 0;
	position: absolute;
	left: 35%;
	bottom: 100%;
	width: 0;
}

.splash {
	border-radius: 45px;
	margin: 2rem auto;
	min-width: 100px;
	max-width: 100%;
	height: auto;
}